* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#shop-cart-menu.active {
  position: absolute;
  right: 0;
  width: 13rem;
  height: 20rem;
  background-color: blue;
}

header {
  padding: 1rem;
}

nav {
  display: flex;
  gap: 3rem;
}

.first-half {
  width: 55vw;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  gap: 1rem;
}

.second-half {
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.menu-section {
  margin-top: 2rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  gap: 3rem;
}

.cards {
  display: grid;
  justify-content: center;
  gap: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.first-card {
  background-color: black;
  height: 35rem;
  width: 60vw;
  grid-column: 3/4;
  grid-row: 1/4;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  position: relative;
}

.manual-navigation {
  position: absolute;
  display: flex;
  margin-top: -3rem;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  margin-top: 32.22rem;
}

.navigation-auto div {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}

.second-card {
  background-color: red;
  height: 18rem;
  width: 30vw;
  grid-column: 4/4;
}

.third-card {
  width: 30vw;
  height: 15rem;
  display: flex;
  grid-column: 4/4;
  grid-row: 2/4;
  justify-content: space-between;
  gap: 0 1rem;
}

.third-card-a {
  background-color: pink;
  height: 16.5rem;
  width: 19rem;
}

.third-card-b {
  background-color: purple;
  height: 16.5rem;
  width: 19rem;
}

.arrives {
  overflow-x: auto;
}

.arrives::-webkit-scrollbar {
  display: none;
}

.arrow-left, .arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  margin-top: 52.6rem;
  font-size: 40px;
  line-height: 250px;
  width: 40px;
  height: 30rem;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover, .arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrives-title {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.arrives-title p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.arrives-itens {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 160vw;
}

.section-itens {
  display: flex;
  justify-content: space-between;
}

.arrives-img {
  background-color: yellow;
  height: 30rem;
  width: 30rem;
  border-radius: 10px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
}

.banner {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.banner-img {
  background-color: black;
  height: 50rem;
  width: 100%;
  margin: 0 auto;
}

.clothes-geners {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
}

.geners-cards {
  background-color: black;
  height: 38rem;
  width: 30rem;
}

.combos {
  margin: 0 auto;
  width: 78%;
}

.combo-display {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.combo-item {
  background-color: blue;
  height: 20rem;
  width: 25rem;
  border-radius: 10px;
}

.services {
  margin: 0 auto;
  width: 78%;
}

.service-display {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.service-item {
  background-color: blue;
  height: 10rem;
  width: 23rem;
  border-radius: 10px;
}

.footer {
  background-color: black;
  height: 40rem;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
