* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#shop-cart-menu.active {
  position: absolute;
  right: 0;
  width: 13rem;
  height: 20rem;
  background-color: blue;
}

header {
  padding: 1rem;
}

nav {
  display: flex;
  gap: 3rem;
}

.first-half {
  width: 55vw;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  gap: 1rem;
}

.second-half {
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.menu-section {
  margin-top: 2rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  gap: 3rem;
}

.cards {
  display: grid;
  justify-content: center;
  gap: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.first-card {
  background-color: black;
  height: 35rem;
  width: 60vw;
  grid-column: 3/4;
  grid-row: 1/4;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  position: relative;
}

.manual-navigation {
  position: absolute;
  display: flex;
  margin-top: -3rem;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  margin-top: 32.22rem;
}

.navigation-auto div {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}

.second-card {
  background-color: red;
  height: 18rem;
  width: 30vw;
  grid-column: 4/4;
}

.third-card {
  width: 30vw;
  height: 15rem;
  display: flex;
  grid-column: 4/4;
  grid-row: 2/4;
  justify-content: space-between;
  gap: 0 1rem;
}

.third-card-a {
  background-color: pink;
  height: 16.5rem;
  width: 19rem;
}

.third-card-b {
  background-color: purple;
  height: 16.5rem;
  width: 19rem;
}

.arrives {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  margin: 0 auto;
  width: 95vw;
}

.arrives-itens {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.arrives::-webkit-scrollbar {
  display: none;
}

.arrives i {
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.arrives i:active {
  transform: translateY(-50%) scale(0.9);
}

.arrives i:hover {
  background: #f2f2f2;
}

.arrives i:first-child {
  left: 10px;
  bottom: -160px;
}

.arrives i:last-child {
  right: 10px;
  bottom: -160px;
}

.arrives-title {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.arrives-title p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.arrives-itens .dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.arrives-itens .dragging img {
  pointer-events: none;
}

.arrives-itens img {
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
}

.section-itens {
  display: flex;
  justify-content: space-between;
}

.arrives-img {
  background-color: yellow;
  height: 25rem;
  width: 20rem;
  border-radius: 10px;
  flex-shrink: 0;
}

.banner {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.banner-img {
  background-color: black;
  height: 50rem;
  width: 99vw;
}

.clothes-geners {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
}

.geners-cards {
  background-color: black;
  height: 38rem;
  width: 30rem;
}

.combos-title {
  margin-left: 13rem;
}

.combos {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  width: 65vw;
  overflow-x: hidden;
}

.combos-itens {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.combos-img {
  background-color: none;
  height: 20rem;
  width: 25rem;
  border-radius: 10px;
  flex-shrink: 0;
}

.combos i {
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.combos i:active {
  transform: translateY(-50%) scale(0.9);
}

.combos i:hover {
  background: #f2f2f2;
}

.combos i:first-child {
  left: 300px;
  bottom: -135rem;
}

.combos i:last-child {
  right: 300px;
  bottom: -135rem;
}

.combos-itens .dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.combos-itens .dragging img {
  pointer-events: none;
}

.services {
  margin: 0 auto;
  width: 78%;
}

.service-display {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.service-item {
  background-color: blue;
  height: 10rem;
  width: 23rem;
  border-radius: 10px;
}

.footer {
  background-color: #4b4b4b;
  height: 40rem;
  width: 100%;
}

.footer-logo {
  display: flex;
  gap: 3rem;
  padding-top: 3rem;
}

.footer-img {
  background-color: white;
  height: 5rem;
  width: 25rem;
  margin-left: 15rem;
}

.footer-input {
  display: flex;
  align-items: center;
  border: 1px solid #818181;
  border-radius: 10px;
  height: 6rem;
  width: 65rem;
}

.footer-input p {
  color: #818181;
  padding: 0 20px;
  font-size: 1.1rem;
}

.footer-input input {
  font-size: 1rem;
  background-color: black;
  border-radius: 10px;
  height: 2.2rem;
  padding: 0 20px;
  width: 16rem;
}

.footer-input input::placeholder {
  color: white;
}

.footer-input button {
  font-size: 1rem;
  height: 2.2rem;
  width: 10rem;
  border-radius: 10px;
  margin-left: 0.2rem;
}

.footer-itens {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
